[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Khanh Nguyen
	email = 96412559+qilskcter@users.noreply.github.com
